body {
    background-color: rgba(245, 245, 220, 0.3) !important;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
}

h2, h3, h5, h4 {
    text-align: center;
    color: #247C1DFF;
}

.el-form-item label {
    padding: 0;
}

.card {
    margin-top: 1.5rem;
}

.card-content {
    margin-bottom: 0;
}

.text-sm {
    font-size: .9rem;
}

.d-none {
    display: none;
}
